{{#each answers as |answer|}} 
	<h3>{{answer.response}}</h3>
	<p>{{answer.author}}</p>
	<p>{{answer.voteTally}}</p>

	<div class="buttons">
		<div class="vote">
			<p>vote: </p>
			<button {{action 'vote' "up" answer}}>up</button>
			<button {{action 'vote' "down" answer}}>down</button>	
		</div>
		<div class="delete">
			<p>delete: </p>
			<button {{action 'confirmAnswerDelete' "yes"}}>answer</button>
		</div>

	{{#if answerRemove}}
		<div class="confirm">
			<h3> Are you sure you want to permanently delete this answer?</h3>
			<button {{action 'deleteAnswer' answer}}>yes</button>
			<button {{action 'confirmAnswerDelete' false}}>no</button>
		</div>
	{{/if}}
	<div class="update-answer">
		<p>edit:</p>
		{{update-answer answer=answer updateAnswer="updateAnswer"}}
	</div>

</div>
	{{/each}}
