<h4 class="question-header">{{question.query}}</h4>
<h5 class="question-notes">{{question.notes}}</h5>
<p class="question-author">{{question.author}}</p>
<p class="question-votes">{{question.voteTally}}</p>

<button {{action "addItem" question}}>Compare this Question and Answers</button>
{{#link-to 'comparison'}}Comparison Page{{/link-to}}

<div class="vote">
	<p>vote: </p>
	<button  {{action "vote" "up" question}}>up</button>
	<button {{action "vote" "down" question}}>down</button>
</div>

<div class="new-answer">
<h1> answer this: </h1>
	{{new-answer 
	currentUser=currentUser 
	user=user
	question=question 
	saveAnswer="saveAnswer" }}

</div>
	

