<h4 class="question-header">{{question.query}}</h4>
<h5 class="question-notes">{{question.notes}}</h5>
<p class="question-author">{{question.author}}</p>
<p class="question-votes">{{question.voteTally}}</p>

<div class="vote">
	<p>vote: </p>
	<button  {{action "vote" "up" question}}>up</button>
	<button {{action "vote" "down" question}}>down</button>
</div>

<div class="new-answer">

</div>
	
	{{new-answer currentUser=currentUser question=question saveAnswer="saveAnswer" }}

