<h4> {{user.email}}'s total votes: {{totalVotes}}</h4>

<div class="new-question">
	{{new-question user=user question=user.questions saveQuestion="saveQuestion"}}
</div>

<div class="user-questions">
	{{#each user.questions as |question|}}
		<h4 class="question-header">{{question.query}}</h4>
		<h5 class="question-notes">{{question.notes}}</h5>
		<p class="question-author">{{question.author}}</p>
		<p class="question-votes">{{question.voteTally}}</p>

		{{#each question.answers as |answer|}}


		{{/each}}
	
	<div class="buttons">

			<div class="update-question">
				<p>edit:</p>
				{{update-question question=question update="update"}}
			</div>
			
			<div class="delete">
				<p>delete: </p> 
				<button {{action 'confirm' "yes"}}>question</button>
			</div>

			{{#if hiddenDelete}}
				<div class="confirm">
					<h3> Are you sure you want to permanently delete this question?</h3>
					<button {{action 'deleteQuestion' question}}>yes</button>
					<button {{action 'confirm' false}}>no</button>
				</div>
			{{/if}}
	
</div>
{{/each}}
</div>
